body{
    background-color: #FAF7F0;
}

/* heading */
#header{
    background-color:#B17457;
    color: #FAF7F0;
    text-align: center;
    padding: 20px; 
    font-size: 25px;
}
#tagline{
    font-size: 18px;
    margin: 5px;
}

/* content */
.container{
    margin: 30px;
    margin-top: 85px;
}
h2{
    color: #4A4947;
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-bottom: 3px solid #B17457 ;
}
.container p{
    font-size: 16px;
}

img{
    display: block;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: auto;
    border: 5px solid #D8D2C2;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto
}
h3{
    color: #B17457;
}

table{
    border-collapse: collapse;
    border-color: #D8D2C2;
    width: 100%;
}
table td, th{
    padding: 10px;
}
th{
    color:#FAF7F0;
    background-color: #B17457;
    font-weight: bolder;
}

/* form */
form{
    background-color: #f2eee3;
    border: 1px solid #B17457;
    border-radius: 10px;
    padding: 20px;
}

input[type=text],
input[type=number],
input[type=email]{
    width: 100%;
    height: 40px;
    border:0.1px solid #B17457 ;
    /* border: none; */
    border-radius: 5px;
}
form > label{
    font-weight: bold;
    color: #4A4947;
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 2px;
}
select{
    width: 100%;
    height: 40px;
    border:0.1px solid #B17457 ;
    border-radius: 5px;
}


textarea{
    width: 100%;
    border: 0.1px solid #B17457;
    border-radius: 5px;
    min-height: 80px;
    
}

.contact{
    margin-left: 20px;
}


button[type="submit"],
button[type="reset"]{
    color: #FAF7F0;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

button[type="submit"]{
    background-color: #B17457;
    border:0.1px solid #B17457;
}

button[type="reset"]{
    color: #B17457;
    background-color: #f9f9f7;
    border:0.1px solid #B17457;
}

#footer{
    background-color:#B17457;
    color: #FAF7F0;
    text-align: center;
    padding: 15px; 
    font-size: 18px;
}


